# Domain
SITE_DOMAIN=your-domain.com

# ACME
ACME_EMAIL=your-email@example.com
CF_DNS_API_TOKEN=your-cloudflare-api-token

# VLESS+Reality
VLESS_UUID=change-me
REALITY_PRIVATE_KEY=change-me
REALITY_PUBLIC_KEY=change-me
REALITY_SHORT_ID=6ba85179e30d4fc2
REALITY_DEST=www.apple.com:443
REALITY_SERVER_NAMES=www.apple.com, www.icloud.com

# VMess+WS+TLS
VMESS_UUID=change-me-too
VMESS_WS_PATH=/proxy/ws
VMESS_SERVER_NAMES=your-domain.com
