# HTTP routing - VMess WS proxy + static site

http:
  routers:
    vmess-ws:
      rule: '{{ env.SITE_DOMAIN | host_rule }} && PathPrefix(`{{ env.VMESS_WS_PATH }}`)'
      entryPoints:
        - websecure
      service: xray-vmess
      tls:
        certResolver: cloudflare

    static-site:
      rule: '{{ env.SITE_DOMAIN | host_rule }}'
      entryPoints:
        - websecure
      service: static-server
      tls:
        certResolver: cloudflare

{% if env.SITE_ALIASES %}
{% for alias in env.SITE_ALIASES.split(',') %}
{% set a = alias.strip() %}
    cdn-{{ a }}:
      rule: 'Host(`{{ a }}`)'
      entryPoints:
        - websecure
      service: static-server
      tls: {}

    cdn-ws-{{ a }}:
      rule: 'Host(`{{ a }}`) && PathPrefix(`{{ env.VMESS_WS_PATH }}`)'
      entryPoints:
        - websecure
      service: xray-vmess
      tls: {}
{% endfor %}
{% endif %}

  services:
    xray-vmess:
      loadBalancer:
        servers:
          - url: "http://xray-vmess:4443"

    static-server:
      loadBalancer:
        servers:
          - url: "http://static:80"
