# HTTP routing - VMess WS proxy + static site

http:
  routers:
    vmess-ws:
      rule: '${VMESS_HTTP_RULE} && PathPrefix(`${VMESS_WS_PATH}`)'
      entryPoints:
        - websecure
      service: xray-vmess
      tls:
        certResolver: cloudflare

    static-site:
      rule: '${VMESS_HTTP_RULE}'
      entryPoints:
        - websecure
      service: static-server
      tls:
        certResolver: cloudflare

  services:
    xray-vmess:
      loadBalancer:
        servers:
          - url: "http://xray-vmess:4443"

    static-server:
      loadBalancer:
        servers:
          - url: "http://static:80"
