# HTTP server - TLS termination for VMess WS + static site
server {
    listen 8443 ssl;
    server_name ${SITE_DOMAIN};

    ssl_certificate     /acme/${SITE_DOMAIN}/fullchain.cer;
    ssl_certificate_key /acme/${SITE_DOMAIN}/${SITE_DOMAIN}.key;

    root /www;
    index index.html;

    location ${VMESS_WS_PATH} {
        proxy_redirect off;
        proxy_pass http://xray-vmess:4443;
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    }
}

# HTTP redirect
server {
    listen 80;
    server_name ${SITE_DOMAIN};
    return 301 https://$host$request_uri;
}
